.WeatherInfo h1 {
  font-size: 44px;
  font-weight: 900;
}
.WeatherInfo ul {
  color: #0009;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
  padding-left: 0;
}
.WeatherInfo .weather-icon {
  position: relative;
  left: 30px;
  top: 10px;
}
.WeatherInfo .WeatherTemperature {
  position: relative;
  right: -50px;
}
@media (max-width: 576px) {
  .WeatherInfo h1 {
    font-size: 33px;
  }
}
