.Weather {
  margin-bottom: 20px;
}
.Weather form {
  padding: 30px 0;
}
.Weather .input-custom {
  background-color: #ededed;
  border-style: none;
  padding: 15px 20px;
  text-align: left;
}
.Weather input[type="search"] {
  color: black;
}

.Weather .btn-custom {
  background-color: #82b2b7cc;
  color: #fff;
  padding: 15px 20px;
}
