.WeatherInfo .accent-color {
  color: rgba(130, 178, 183, 0.6);
}
.WeatherInfo .weather-icon {
  margin-left: 35px;
}
.WeatherInfo .temperature {
  font-size: 65px;
  font-weight: 700;
  margin-left: 20px;
  position: relative;
  top: -10px;
}
.WeatherInfo .unit {
  font-size: 20px;
  margin-left: 2px;
  position: relative;
  top: -26px;
}
